html,body {
	margin:0px;
	padding:0px;
	background:#231F1F;
}
div.awrap{
	position:absolute;
	height: 30%;
	top: 30%;
	width: 80%;
	left: 10%;
	right: 10%;
	text-align:center;
}
a {
	display:inline-block;
	width:100%;
	height:100%;
	background:#B5B1B1;
	-moz-box-shadow:    inset 0 0 10px #000000;
	-webkit-box-shadow: inset 0 0 10px #000000;
	box-shadow:         inset 0 0 10px #000000;
	-webkit-tap-highlight-color: rgba(255, 255, 255, 0); 
}	
a:active {
	background:#ADAAAA;
	-moz-box-shadow:    inset 0 0 50px #000000;
	-webkit-box-shadow: inset 0 0 50px #000000;
	box-shadow:         inset 0 0 50px #000000;
}
.progress {
  background: #B5B1FF;
  transition: background 0.5s;   
}
.success {
  background: #B5FFB1;
  transition: background 0.5s; 
}
.led {
  margin: 20px auto;
  width: 12px;
  height: 12px;
  background-color: #666;
  border-radius: 50%;
  box-shadow: #000 0 -1px 7px 1px, inset #111 0 -1px 9px, #555 0 2px 12px;
  position: absolute;
  top: 10%;
  right: 10%;
}
.green {
  background-color: #690;
  box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
}
.red {
  background-color: #940;
  box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
}

.ping.green {
  background-color: #9D5;
  box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;   
}

.ping.red {
  background-color: #D75;
  box-shadow: #000 0 -1px 7px 1px, inset #600 0 -1px 9px, #F00 0 2px 12px;
}
